<h2 mat-dialog-title>Transfer to make:</h2>
<mat-dialog-content class="mat-typography">
  <h3>From account:</h3>
  <p>{{ firstAccount?.owner }}</p>
  <p>{{ firstAccountNumber }}</p>
  <h3>To account:</h3>
  <p>{{ secondAccount?.owner }}</p>
  <p>{{ secondAccountNumber }}</p>
  <h3>Balance:</h3>
  <p>{{ money }} {{ firstAccount?.currency }}</p>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="save()">
    Confirm
  </button>
</mat-dialog-actions>
