<app-nav-bar></app-nav-bar>
<div class="all-content">
  <div class="content">
    <div>
      <div class="main-title">
        <h1 class="mat-display-1">You can trust us.</h1>
        <h1 class="mat-subheading-1">Free from a monthly maintenance fee.</h1>
        <h1 class="mat-subheading-1">
          Free from a minimum balance requirement.
        </h1>
        <h1 class="mat-subheading-1">Free from worry.</h1>
      </div>
      <div class="home-pic">
        <img class="img-fluid" src="assets/img/2283451.png" />
      </div>
    </div>
  </div>
  <div class="content-bottom">
    <button mat-raised-button color="primary" routerLink="/accounts">
      Account list
    </button>
  </div>

  <mat-toolbar class="footer">
    <p class="bankapi">Bank Api</p>
    <p class="motto">We make your dreams come true.</p>
    <div class="border-name"><p>bankapi@gmail.com</p></div>
    <p class="copyright">
      Copyright &copy; 2019 Magdalena Karpacka. All rights reserved.
    </p>
  </mat-toolbar>
</div>
