table {
  width: 90%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
}

.mat-card {
  width: 40%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

.mat-h2 {
  margin-left: 5%;
  margin-right: 5%;
  display: table-row;
}

.edit-buttons {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.mat-raised-button {
  margin: 2px;
}
