<app-nav-bar></app-nav-bar>

<mat-card>
  <div *ngIf="account" class="acount-details">
    <div class="mat-h2">{{ account.number }}</div>
    <div class="mat-h2">{{ account.owner }}</div>
    <div class="mat-h2">{{ account.money }} {{ account.currency }}</div>
  </div>
</mat-card>

<div *ngIf="account" class="edit-buttons">
  <button
    mat-raised-button
    color="primary"
    routerLink="/account/edit/{{ account.number }}"
  >
    Edit account
  </button>
  <button mat-raised-button color="warn" (click)="deleteAccount()">
    Delete account
  </button>
</div>

<div class="table-container">
  <table
    mat-table
    [dataSource]="transfers"
    *ngIf="transfers"
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="From account">
      <th mat-header-cell *matHeaderCellDef>From account</th>
      <td mat-cell *matCellDef="let element">
        {{ element.firstAccountNumber }}
      </td>
    </ng-container>

    <ng-container matColumnDef="To account">
      <th mat-header-cell *matHeaderCellDef>To account</th>
      <td mat-cell *matCellDef="let element">
        {{ element.secondAccountNumber }}
      </td>
    </ng-container>

    <ng-container matColumnDef="balance">
      <th mat-header-cell *matHeaderCellDef>Balance</th>
      <td mat-cell *matCellDef="let element">
        {{ element.money | number: "":"pl-PL" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="currency">
      <th mat-header-cell *matHeaderCellDef>Currency</th>
      <td mat-cell *matCellDef="let element">{{ element.currency }}</td>
    </ng-container>

    <ng-container matColumnDef="transferStartedDate">
      <th mat-header-cell *matHeaderCellDef>Transfer started</th>
      <td mat-cell *matCellDef="let element">
        {{ element.transferStartedDate | date: "dd/MM/yyyy HH:mm:ss" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="transferRecievedDate">
      <th mat-header-cell *matHeaderCellDef>Transfer revieved</th>
      <td mat-cell *matCellDef="let element">
        {{ element.transferRecievedDate | date: "dd/MM/yyyy HH:mm:ss" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">
        {{ element.transferStatus }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
