<app-nav-bar></app-nav-bar>
<div class="form-container">
  <mat-card>
    <form [formGroup]="accountForm">
      <h2 class="mat-display-1">Add new account</h2>
      <mat-form-field class="form-group">
        <input
          matInput
          placeholder="Number"
          class="form-control"
          id="number"
          formControlName="number"
          (keyup)="findInvalidControls()"
        />
      </mat-form-field>

      <mat-form-field class="form-group">
        <input
          matInput
          placeholder="Balance"
          class="form-control"
          id="money"
          formControlName="money"
          (keyup)="findInvalidControls()"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-select
          placeholder="Currency"
          formControlName="currency"
          (selectionChange)="findInvalidControls()"
        >
          <mat-option value="USD">USD</mat-option>
          <mat-option value="PLN">PLN</mat-option>
          <mat-option value="GBP">GBP</mat-option>
          <mat-option value="EUR">EUR</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-group">
        <input
          matInput
          placeholder="Owner"
          class="form-control"
          id="owner"
          formControlName="owner"
          (keyup)="findInvalidControls()"
        />
      </mat-form-field>
    </form>
    <button mat-raised-button color="primary" (click)="onSubmit()">
      Submit
    </button>
    <mat-progress-bar
      mode="determinate"
      [value]="progressValue"
    ></mat-progress-bar>
  </mat-card>
</div>
